/* 顶部 */
.mtop{width: 100%;height: 1.9rem；}
.mtop-in{display: flex;justify-content: space-between;font-size: 0.64rem;}
.mtop-in1{width: 15%;height: 1.85rem;line-height: 1.85rem;text-align: center;}
.mtop-in3{width: 10%;height: 1.85rem;line-height: 1.85rem;text-align: center;}
.mtop-3 img{margin-top: 0.3694rem;
    margin-right: 0.4694rem;
    width: 0.9814rem;
    height: 0.9814rem;
  background-size: 100%;}

.mtop-in2{width: 75%;height: 1.85rem;}
.mtop-in2 img{width: 100%;margin: 0 auto;width: 2.9654rem;height: 0.7467rem;margin-top: 0.5974rem;         margin-left: 4.2667rem;}

/* <!-- 优选国际header 结束-->  */
.select-hd{background-color: red;}
.select-hdg{width: 100%}
/* <!-- 轮播图 开始 --> */
.page-img{width: 100%;}
.auto-img{width: 100%;}
/* <!-- menu入口 --> */
.ht-menu-box{width: 100%;}
.ht-menu-box ul{display: flex;justify-content: space-between;width: 100%;}
.ht-menu-box ul li{width: 20%}
.ht-menu-box a div{width: 60%;margin: 0 auto;}
.ht-menu-item a img{width: 100%;}
.ht-menu-item span{display: block;color: black;font-size: 0.4694rem;}
.ht-menu-item a{text-decoration: none;}
/* <!-- 国际精选 --> */
.inter-header{width: 100%;height: 1.536rem;line-height: 1.536rem;text-align: center;font-size: 0.5974rem;
    background: url(../imgs/title-bg.png) no-repeat center center;background-size: 4.1814rem 0.64rem;}
.swiper-container2{width: 100%;}    
.swiper-container2 a{text-decoration: none;}
.sw-img{width: 100%;}
.sw-co-div{height: 4.2667rem;}
.p-name{font-size: 0.512rem;color: #000;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
    margin-top: 0.2347rem;text-align: center;}
.p-price{font-size: 0.5974rem;color: #ff6600;margin-top: 0.1067rem;text-align: center;}
.look-more{width: 2.688rem;height: 6.3574rem;font-size: 0.512rem;color: #646464;
    box-sizing: border-box;
    margin-right: 0}
.look-more p{width: 0.1rem;margin: 0 auto;margin-top: 1.2rem;}
/* <!-- 国际大牌 --> */
.brand-list{width: 100%;}
/* <!-- 国际发现 --> */
.global-hot-item{display: flex;justify-content: space-between;}
.fl a img{width: 6.9547rem;height: 9.1307rem;border-top: 1px solid #dcdcdc;border-right: 1px solid #dcdcdc;box-sizing: border-box;}
.fr{width: 9.0454rem;height: 9.1307rem;border-top: 1px solid #dcdcdc;box-sizing: border-box;}
.fr a img{width: 100%;}
/* <!-- 分类开始 --> */
.swiper-container3{width: 100%;}
/* .swiper-container3 ul{display: flex;justify-content: space-around;} */
.swiper-container3 li{    width: 3.6694rem;height: 2.048rem;line-height: 2.048rem;font-size: 0.5974rem;color: #fff;
    background-color: #7441d9;text-align: center;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.change{background-color: red;}
.p-col-two{width: 100%;height: 100px;}
.p-col-two ul{width: 100%;height: 100px;list-style: none;margin: 0 auto;}
.p-col-two ul li{    width: 7.4667rem;height: 11.136rem;
    /* margin: 0 0.1494rem 0.256rem; */margin-left: 0.3594rem;margin-bottom: 0.256rem;border: 1px solid #e9e9e9;
    border-radius: 0.0854rem;box-sizing: border-box;/* background-color: black; */position: relative;float: left;}
.p-col-two a{text-decoration: none;}
.p-img img{width: 100%;display: block;}
.p-name{font-size: 0.512rem;color: #000;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
    margin-top: 0.2347rem;text-align: center;}
.p-bottom{position: absolute;bottom: 0;left: 0.2987rem;padding-bottom: 0.3414rem;}
.p-cart{position: absolute;width: 0.768rem;height: 0.768rem;background-position: 0 -2.0693rem;right:0.4267rem;
    bottom: 0.3414rem;background-image: url(../imgs/category_bg.png);background-size: 6.4rem 6.4rem;}

.on{
    color: #7441d9;
    border: 2px solid #7441d9 !important;}
.keyword span{float: left;
    width: 3.4134rem;
    height: 1.152rem;
    line-height: 1.152rem;
    font-size: 0.512rem;
    /* color: #000; */
    text-align: center;
    margin: 0.5547rem 0.2134rem 0 0.2134rem;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 0.128rem;}
.keyword{padding: 0 0.32rem 0.5547rem;
    overflow: hidden;
display: none;}
.active{background-color: rgba(97,49,192) !important}










