html,body{
    position: relative;
    height: 100%;
    font-size:25.875px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
input::-webkit-input-placeholder{
    color:rgb(123, 129, 117,0.7);
}

#sf-login{
    position: relative;
    width: 100%;
    height: 100%;
}
#content{
    min-width: 320px;
    max-width: 750px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* background-color: rgb(184, 152, 152); */
    position: relative; 
}
#content #header{
    width: 100%;
    min-height: 2.0907rem;
    font-size: 0.768rem;
    color:#111;
    text-align:center;
    line-height: 2.0907rem;
    position: relative; 
}
#content #header .header-top{
    height: 3.456rem;
    line-height:3.456rem;
    /* background-color: rgb(124, 106, 106); */
    font-size: 0.768rem;
}
#content #header .header-top .fr{
    font-size: 0.64rem;
    margin-right: 0.64rem;
}
#content #header .header-top .title-back{
    position: absolute;
    width: 0.93877rem;
    height: 0.9387rem;
    left:1.0667rem;
    top:1.2587rem;
    background:url(../imgs/login-back.png) no-repeat center;
    background-size: 0.3414rem 0.6278rem;
}
#content #header .header-top .icon-right{
    display: inline-block;
    margin-bottom: -0.2346rem;
    width:0.9387rem;
    height: 0.9387rem;
    background:url(../imgs/login-right.png) no-repeat center;
    background-size: 100%;
}
#content #header .login-title{
    height: 1.28rem;
    line-height: 1.28rem;
    padding: 0 1.28rem;
    font-size: 0.9387rem;
    color: #000;
    text-align: left;
}
#content #header .login-first-info{
    height: 0.768rem;
    padding:  0 1.28rem 0 1.28rem;
    font-size: 0.5547rem;
    color: #7f7f7f;
    line-height: 1;
    text-align: left;
}
#content #login{
    padding:0.5547rem 1.1947rem 0.9387rem 1.1947rem;
}
#content #login .input-box{
    position: relative;
}
#content #login .input-box input{
    width: 100%;
    height: 2.1334rem;
    margin-top: 0.4267rem;
    border: 0;
    border-bottom: 1px solid #e6e6e6;
    font-size: 0.6827rem;
    box-sizing: border-box;
    color: #333;
    outline: none;
}
#content #login .input-box input.pdr{
    padding-right: 5.3334rem;
}
#content #login .input-box .delete{
    /* display:none; */
    position: absolute;
    top:1.0667rem;
    right: 0;
    width: 0.768rem;
    height: 0.768rem;
    background: url(../imgs/login-delete.png) no-repeat center;
    background-size: 100%;
}
.delete-r{
    margin-right: 4.2667rem;
}
#content #login .input-box .code{
    position: absolute;
    top:0.64rem;
    right: 0;
    width: 4.2667rem;
    line-height: 1.7067rem;
    text-align:center;
    font-size: 0.5547rem;
    color: #31c27c;
}
#content #login .input-box canvas{
    position: absolute;
    top:0.4rem;
    right: 0;
    width: 4rem;
    height: 1.7067rem;
    line-height: 1.7067rem;
    text-align:center;
    font-size: 0.5547rem;
    color: #31c27c;
    background: #ece8e8;
}
#content #login .registr-box{
    padding-top:0.6827rem;
    height: 0.8534rem;
    font-size: 0.597rem;
    color: #aca4a4; 
}

#content #login .registr-box a{
    color: #000;
    border-bottom: 1px solid #979797;
    text-decoration: none;
}
#content #login .registr-box .checkbox{
    display: inline-block;
    margin-bottom: -0.0853rem;
    margin-right: 0.2134rem;
    width:0.512rem;
    height: 0.512rem;
    border: 1px solid #979797;
    border-radius: 50%;
    box-sizing: border-box;
}
#content #login #error_prompt{
    width: 5.67rem;
    height:1.61rem;
    line-height: 1.61rem;
    text-align: center;
    font-size: 0.6rem;
    border-radius: 10px;
    background-color: rgba(136, 127, 127, 0.5);
    position: absolute;
    left: 4.98rem;
    display: none;
}
#content #login .login-btn a{
    display: inline-block;
    width: 13.6107rem;
    height: 2.048rem;
    line-height: 2.048rem;
    font-size: 0.6827rem;
    color: #FFF;
    text-align: center;
    border-radius: 0.1707rem;
    background-color: #31c27c;
    opacity: 0.3;
    margin-top: 1.2rem;
    min-height: 2.048rem;
    text-decoration: none;
}
#content #login .login-other{
    margin-top: 2.7rem;
    text-align: center;
    width: 100%;
}
#content #login .login-other .line{
    display: inline-block;
    width: 4.3rem;
    border-top: 1px solid #928b8b;
    margin-bottom: 0.128rem;
}
#content #login .login-other .login-other-text{
    display: inline-block;
    font-size: 0.512rem;
    color: #7f7f7f;
    padding: 0 0.1067rem;
}
#content #login .login-other .login-other-sf{
    margin-top: 0.576rem;
    display: inline-block;
}
#content #login .login-other .login-other-sf img{
    display: inline-block;
    width: 2.1334rem;
    margin: 0 1.0454rem;
}