html,body{
    overflow: hidden;
    height: 100%;
    /* background-color: #f0f0f0; */
}
.fl{
    float: left;
}
.fr{
    float: right;
}
a{
    text-decoration: none;
}
.carEmptyPage{
    padding:2.2rem 0;
    display: none;
}
.carEmptyPage .title{
    height: 2.2rem;
    background-color: #fff;
    font-size: 0.768rem;
    text-align: center;
    line-height: 2.2rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

}

.main .server{
    width: 100%;
    text-align: center;
}
.main .server>img{
    width: 2.56rem;
    height: 2.368rem;
    display: inline-block;
    margin-top: 2.7734rem;
    margin-bottom: 52px;
}
.nostore-con{
    width: 100%;
}
.nostore-con p{
    font-size: 0.5974rem;
    width: 100%;
    text-align: center;
    line-height: 0.5974rem;
    color: #969696;
}

.main .shopping-btn{
    overflow: hidden;
    padding: 1.3227rem 2.1334rem;
}
.main .shopping-btn .nostore-btn {
    width: 5.2907rem;
    height: 1.4934rem;
    margin: 0 auto;
    border: 1px solid #69af00;
    font-size: 0.5974rem;
    line-height: 1.4934rem;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    background: #69af00;
}
.main .shopping-btn .nostore-btn a{
    color: #fff;
}

.main .shopping-btn .click{
    background: #fff;
    
}
.main .shopping-btn .click a{
    color: #69af00;
}

/* 添加商品购物车样式 */

.new-header {
    height: 1.8347rem;
    line-height: 1.8347rem;
    position: relative;
    text-align: center;
    font-size: 0.7254rem;
    background-color: #fff;
}
.new-header .cart-addr {
    font-size: 0.512rem;
    position: absolute;
    left: 0.896rem;
    top: 0.535em;
    z-index: 0;
}
.new-header .cart-addr .addrArea {
    float: left;
    width: 13.312rem;
    height: 1.2374rem;
}
.addrArea .text {
    position: relative;
    line-height: 1.2374rem;
    height: 1.2374rem;
    overflow: hidden;
}
.addrArea .text i {
    display: inline-block;
    position: relative;
    top: 0.0427rem;
    left: 0;
    margin-right: 12px;
    width: 0.4694rem;
    height: 0.5547rem;
    background: url(../imgs/location.png) left top no-repeat;
    background-size: 0.4694rem 0.5547rem;
}
.addrArea .text span {
    display: inline-block;
}
.addrArea .text b {
    position: relative;
    display: inline-block;
    width: 0.2134rem;
    height: 0.128rem;
    margin-left: 0.2134rem;
    background: url(../imgs/downicon.png) no-repeat left top;
    background-size: 0.2134rem 0.128rem;
    top: -0.0853rem;
    right: 0;
}

.new-header .p-edit {
    position: absolute;
    right: 0.512rem;
    width: 1.2374rem;
    color: #87d50d;
    cursor: pointer;
    font-size: 0.512rem;
}
.cart-login {
    line-height: 1.2374rem;
    background: #f0f2f6;
    padding: 0.4054rem 0.512rem;
    color: #000;
    font-size: 0.5974rem;
}
.cart-login .login-btn {
    display: inline-block;
    min-width: 2.048rem;
    height: 1.2374rem;
    line-height: 1.2374rem;
    padding: 0 0.4267rem;
    border: 1px solid #87d50d;
    background: #87d50d;
    border-radius: 0.0854rem;
    
    margin-left: 0.4267rem;
    text-align: center;
    color: #fff;
    font-size: 0.5974rem;
}
.cartpage{
    background-color: #fff;
}

/* 商品下拉样式 */
#wrapper {
    position:absolute; z-index:1;
    top:3.9rem; bottom:4.4rem; left:0;
    width:100%;
    background:#f0f0f0;
    overflow:auto;
   }

.prolist .title {
    height: 1.92rem;
    font-size: 0.5974rem;
    color: #000;
    padding: 0 0.512rem;
    border-bottom: 4px solid #f0f2f6;
    background-color: #fff;
}
.prolist .title .choice span {
    cursor: pointer;
    display: inline-block;
    width: 0.8534rem;
    height: 0.8534rem;
    margin-top: 0.512rem;
    border-radius: 50%;
    border: 1px solid #bdbdbd;
    background-color: #f0f0f0;
    box-sizing: border-box;
    outline: none;
}
.prolist .title span.name {
    display: inline-block;
    padding: 0.512rem 0 0 0.576rem;
}

.prolist .title .choice span.checked {
    background-position: -0.1706rem -0.2346rem;
}
.icon1 {
    background: url(../imgs/icon1.png) no-repeat 0 0;
    background-size: 5.9734rem 5.9734rem;
}
/* cart-list-item */
.prolist{
    background-color: #fff;
}
.prolist .left span.checked{
    cursor: pointer;
    display: block;
    width: 0.8534rem;
    height: 0.8534rem;
    border-radius: 50%;
    background-color: #f0f0f0;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #bdbdbd;
    background-position: -0.1706rem -0.2346rem;
}
.prolist .left{
    float: left;
    width: 1.4934rem;
    height: 0.8534rem;
    cursor: pointer;
    padding: 1.4934rem 0;
}

.prolistCont .item{
    padding:0.7467rem  0.512rem 0.4267rem;
    border-bottom: 4px solid #f0f2f6;
    background-color: #fff;
}
.prolist .right .listimg{
    float: left;
    width: 3.84rem;
    height: 3.84rem;
    margin-right: 0.4267rem;
}
.prolist .right .listimg img{
    width: 100%;
}

.prolist .right .listname .p-name {
    width: 7rem;
    height: 1.4294rem;
    font-size: 0.512rem;
    margin-right: 2.0907rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.prolist .right .listname .p-name a{
    color:#000;
}
.prolist .right .listname .p-message{
    margin-top: 0.75rem
}
.prolist .right .listname .p-message .price i{
    display: block;
    font-size: 0.5974rem;
    color: #fa6400;
    font-style: normal;
    position: relative;
    top: 0.4rem;
    left: -2px;
}
.prolist .right .listname .p-message .price i span{
    color: #fa6400;
}
.prolist .right .listname .p-message .price span{
    font-size: 0.512rem;
    color: #969696;
    margin-top: 0.2134rem;
}
.prolist .right .listname .p-message .inputbox{
    font-size: 0;
    margin-top: 5px;
    position: relative;
}
.prolist .right .listname .p-message .inputbox a{
    width: 1.1947rem;
    height: 1.1947rem;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #dcdcdc;
    display: inline-block;
    text-align: center;
    line-height: 1.1947rem;
    font-size:  0.8rem;
}
.prolist .right .listname .p-message .inputbox input{
    width: 1.3227rem;
    /* height: 3.2rem; */
    border: none;
    background: #fff;
    text-align: center;
    font-size: 0.5974rem;
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
}
.prolist .right .listname .p-message .inputbox .del{
    width: 0.768rem;
    height: 0.768rem;
    background: url(../imgs/delete.png) no-repeat 0 0;
    background-size: 0.768rem 0.768rem;
    position: absolute;
    top: 0.3rem;
    left: -1.7rem;
    display: none;
}
/* 运费规则 */

.prolist .prolistCont .cart-newtotal {
    background: #f0f2f6;
    padding: 0.256rem 0 1.8347rem 1.9627rem;
}
.prolist .prolistCont .cart-newtotal a{
    display: block;
    font-size: 0.5547rem;
    color: #999;
    padding-top: 0.256rem;
    position: relative;
}
.prolist .prolistCont .cart-newtotal a .icon {
    float: left;
    width: 0.7254rem;
    height: 0.7254rem;
    background-position: -0.2346rem -1.2373rem;
    margin-right: 0.2134rem;
    margin-bottom: -0.0426rem;
}
/* 商品总计结算样式 */
.prolist .ui-foot{
    height: 2.2rem;
    background-color: #fff;
    padding-left: 0.512rem;
    border-top: 1px solid #dcdcdc;
    position: fixed;
    left: 0;
    right: 0;
    bottom:2.2rem;

}
.prolist .ui-foot .leftcheck span.checked{
    cursor: pointer;
    display: inline-block;
    width: 0.8534rem;
    height: 0.8534rem;
    /* margin-top: 0.512rem; */
    border-radius: 50%;
    border: 1px solid #bdbdbd;
    background-color: #f0f0f0;
    box-sizing: border-box;
    outline: none;
    background-position: -0.1706rem -0.2346rem;
}

.prolist .ui-foot .leftcheck{
    float: left;
    width: 1.4934rem;
    height: 0.8534rem;
    cursor: pointer;
    padding: 0.5rem 0;
}
.prolist .ui-foot .totalPrice p{
    font-size: 0.64rem;
    color: #000;
    margin-top: 0.2rem
}
.prolist .ui-foot .totalPrice p i{
    font-style: normal;
    color: #fa6400;
}
.prolist .ui-foot .totalPrice p span{
    color: #fa6400;
}
.prolist .ui-foot .totalPrice div{
    color: #000;
    font-size: 0.512rem;
    padding-top: 0.1067rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 8.5334rem;
}
.prolist .ui-foot .gopay{
    width: 5.3334rem;
    height: 2.15rem;
    line-height: 2.0907rem;
    background: #87d50d;
    position:absolute;
    right: 0;
    top: 0;
    font-size: 0.64rem;
    text-align: center;
    color: #fff;
}
.prolist .ui-foot .gopay a{
    font-size: 0.64rem;
    color: #fff;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
}

.allcheck{
    font-size: 0.64rem;
    color: #000;
    position: relative;
    top: 0.65rem;
    display: none;
}
/* .totalPrice1{
    display: none;
} */

 /* 当商品数量不规范时弹出的提示框 */

 .tip{
     width: 8rem;
     height: 1.8rem;
     background-color:rgba(0,0,0,0.6);
     position: fixed;
     top: 50%;
     left: 28.5%;
     z-index: 100;
     text-align: center;
     line-height: 2rem;
     font-size: 0.65rem;
     color:#fff;
     display: none;
 }






/* 底部导航 */
.menu-tab{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 999;
    text-align: center;
    background: #fff;
    border-top: 1px solid #eaeaea;
    white-space: nowrap;
    display: flex;
}
.menu-tab .menu-item {
    width: 20%;
    padding: 0.2987rem 0;
    text-align: center;
    font-size: 0.4267rem;
    color: #000;
}
.menu-tab .menu-item i {
    height: 0.9814rem;
    display: block;
    margin-bottom: 0.1067rem;
}
.menu-tab .menu-item i img {
    width: 0.9814rem;
    height: 0.9814rem;
    border: 0;
    margin: 0 auto;
}